@charset "UTF-8";
/* Базовые настройки сетки */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
/* Настройки шрифтов */
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Цвет шрифта */
/* Настройки интерфейса */
body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.section {
  padding: 100px 0;
}
.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section--title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  background-color: transparent;
  color: #507fe1;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 17px 22px;
  text-transform: uppercase;
  outline: none;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  outline: none;
  cursor: pointer;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.checkbox {
  display: none;
}
.checkbox:checked + label:before {
  background-color: #507fe1;
}
.checkbox--label {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}
.checkbox--label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }

  .section {
    padding: 60px 0 0;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
/* Шапка сайта */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--mobile, .navbar--landline {
  text-align: right;
}
.navbar--phone {
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  text-decoration: none;
  color: #262626;
  margin-bottom: 5px;
}
.navbar--small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
  display: block;
}

.menu {
  position: fixed;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  transform: translateY(-200%);
  transition: .2s;
  opacity: 0;
}
.menu-active {
  transform: translateY(0);
  opacity: 1;
}
.menu--nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu--link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  outline: none;
  cursor: pointer;
}
.menu-button--line {
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo--text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  margin-bottom: 5px;
}
.logo--description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar--mobile, .navbar--landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }

  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu--nav {
    flex-direction: column;
  }
  .menu--link {
    margin-bottom: 20px;
  }
}
/* Блок hero */
.hero {
  background: #f1f1f1 url("../images/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 120px 0 270px;
  margin-top: 80px;
}
.hero--title {
  font-size: 30px;
  max-width: 265px;
  margin-bottom: 30px;
}
.hero--subtitle {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
  margin-bottom: 67px;
  display: block;
}

@media (max-width: 991px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}
/* Блок offer */
.offer {
  padding: 129px 0;
}
.offer-block {
  background: #fff url(../images/form-bg.png) no-repeat right;
  background-size: contain;
  padding: 80px;
  margin-top: -235px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.offer--title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}
.offer--subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form--row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form--row:last-child {
  margin-bottom: 0;
}
.form--label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form--group {
  flex-basis: 33.33%;
}
.form--input {
  width: 100%;
  border-right: none;
}
.form--border {
  border-right: 1px solid #ddd;
}
.form--button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}
@media (max-width: 768px) {
  .offer {
    padding: 0 0 40px;
  }
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer--title {
    font-size: 18px;
  }
  .offer--subtitle {
    font-size: 16px;
  }

  .form--row {
    flex-direction: column;
  }
  .form--row-checkbox {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .form--group {
    width: 100%;
  }
  .form--input {
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
  }
}
/* Блок features */
.features {
  padding-bottom: 0;
}
.features--block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features--block-item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}
.features--block-text {
  max-width: 125px;
  margin: 25px auto 0;
}

@media (max-width: 991px) {
  .features--block-item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .features--block-item {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
