@charset "UTF-8";
/* Базовые настройки сетки */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
/* Настройки шрифтов */
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Цвет шрифта */
/* Настройки интерфейса */
body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}
.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section--title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  background-color: transparent;
  color: #507fe1;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 17px 22px;
  text-transform: uppercase;
  outline: none;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.button-fitting, .button-add, .button-like {
  padding: 0 10px;
  text-transform: uppercase;
  color: #507fe1;
  cursor: pointer;
  font-size: 11px;
  background-color: #fff;
  border: none;
  outline: none;
  height: 30px;
}
.button-add {
  background-color: #7c9fe8;
  color: #fff;
}
.button-like {
  background-color: #507fe1;
  width: 30px;
  padding: 0;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.checkbox {
  display: none;
}
.checkbox:checked + label:before {
  background-color: #507fe1;
}
.checkbox--label {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}
.checkbox--label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button-o,
  .button {
    font-size: 10px;
  }

  .section {
    padding: 60px 0 0;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
/* Шапка сайта */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--mobile, .navbar--landline {
  text-align: right;
}
.navbar--phone {
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  text-decoration: none;
  color: #262626;
  margin-bottom: 5px;
}
.navbar--small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
  display: block;
}

.menu {
  position: fixed;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  transform: translateY(-200%);
  transition: .2s;
  opacity: 0;
}
.menu-active {
  transform: translateY(0);
  opacity: 1;
}
.menu--nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu--link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  outline: none;
  cursor: pointer;
}
.menu-button--line {
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo--text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  margin-bottom: 5px;
}
.logo--description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar--mobile, .navbar--landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }

  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu--nav {
    flex-direction: column;
  }
  .menu--link {
    margin-bottom: 20px;
  }
}
/* Блок hero */
.hero {
  background: #f1f1f1 url("../images/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 120px 0 270px;
  margin-top: 80px;
}
.hero--title {
  font-size: 30px;
  max-width: 265px;
  margin-bottom: 30px;
}
.hero--subtitle {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
  margin-bottom: 67px;
  display: block;
}

@media (max-width: 991px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}
/* Блок offer */
.offer {
  padding: 129px 0;
}
.offer-block {
  padding: 80px;
  margin-top: -235px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.offer-block-calc-bg {
  background: #fff url(../images/form-bg-calc.png) no-repeat right;
}
.offer-block-price-bg {
  background: #fff url(../images/form-bg-price.png) no-repeat right;
  margin-top: -280px;
}
.offer-block-calc-bg, .offer-block-price-bg {
  background-size: contain;
}
.offer--title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}
.offer--subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
  max-width: 820px;
}

.form--row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form--row:last-child {
  margin-bottom: 0;
}
.form--label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form--group {
  flex-basis: 33.33%;
}
.form--group-price {
  margin-right: 45px;
}
.form--group-policy {
  flex-basis: 40%;
}
.form--input {
  width: 100%;
  border-right: none;
}
.form--border {
  border-right: 1px solid #ddd;
}
.form--button {
  height: 80px;
  width: 100%;
}
.form--button-price {
  font-size: 15px;
  padding: 25px 28px;
}
.form--policy {
  font-size: 17px;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}
@media (max-width: 768px) {
  .offer {
    padding: 0 0 40px;
  }
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer-block-price-bg {
    margin-top: -170px;
  }
  .offer--title {
    font-size: 18px;
  }
  .offer--subtitle {
    font-size: 16px;
  }

  .form--row {
    flex-direction: column;
  }
  .form--row-checkbox {
    flex-direction: row;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .form--group {
    width: 100%;
  }
  .form--group-price {
    margin: 0 0 20px;
  }
  .form--input {
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .form--checkbox {
    margin-bottom: 20px;
  }
  .form--row {
    margin-bottom: 0;
  }
  .form--row-checkbox {
    margin-bottom: 0;
  }
}
/* Блок features */
.features {
  padding-bottom: 0;
}
.features--block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features--block-item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}
.features--block-text {
  max-width: 125px;
  margin: 25px auto 0;
}

@media (max-width: 991px) {
  .features--block-item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .features--block-item {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}
/* Блок catalog */
.catalog {
  background-color: #f5f6f8;
}
.catalog--block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog--card {
  max-width: 570px;
  height: 130px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}
.catalog--card-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.catalog--card-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgba(80, 127, 225, 0.6);
  color: #fff;
  padding: 10px;
}
.catalog--link {
  text-align: center;
  margin-top: 60px;
}
.catalog--link-more {
  display: inline-block;
  margin-bottom: 24px;
}
.catalog--description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog--block {
    justify-content: center;
  }
  .catalog--card {
    max-width: 470px;
  }
}
@media (max-width: 991px) {
  .catalog--card {
    max-width: 100%;
  }
}
/* Блок blog-list */
.blog-card {
  margin-bottom: 20px;
}
.blog--heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.blog--title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}
.blog--link-more {
  color: #507fe1;
}
.blog--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog--list-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
.blog--list-image {
  height: 200px;
  overflow: hidden;
}
.blog--list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

@media (max-width: 1199px) {
  .blog--list {
    justify-content: space-around;
  }
  .blog--list-card {
    margin: 30px;
  }
}
/* Блок price */
.price--block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price--block-card {
  margin-bottom: 10px;
  position: relative;
  background-color: #fff;
}
.price--card-image img {
  display: block;
}
.price--card-text {
  font-size: 15px;
  padding: 20px;
}
.price--card-pricetag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.price--card-cost {
  font-family: 'Proxima Nova Semibold', sans-serif;
}
.price--card-button {
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 15px;
  z-index: -1;
  background-color: #fff;
}
.price--card:hover .price--card-button {
  z-index: 1;
  bottom: -90px;
}

@media (max-width: 1199px) {
  .price {
    padding-top: 0;
  }
  .price--block {
    justify-content: center;
  }
  .price--block-card {
    margin: 20px;
  }
}
/* Блок steps */
.steps {
  background-color: #f1f1f1;
  text-align: center;
}
.steps--block {
  position: relative;
}
.steps--block:before {
  content: "";
  width: 85%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.9);
  display: block;
  position: absolute;
  top: 28%;
  left: 85px;
}
.steps--block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.steps--block-step {
  position: relative;
  max-width: 162px;
}
.steps--block-title {
  font-size: 18px;
  margin: 25px 0;
}
.steps--block-text {
  font-size: 14px;
}

@media (max-width: 1199px) {
  .steps--block-step {
    margin-bottom: 30px;
  }
  .steps--block:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .steps--block-step {
    max-width: 30%;
  }
}
@media (max-width: 576px) {
  .steps--block-step {
    max-width: 100%;
    margin: 0 auto 30px;
  }
}
/* Блок reviews */
.reviews {
  background-color: #f5f6f8;
  padding-bottom: 235px;
}
.reviews--slider {
  display: flex;
  justify-content: space-between;
}
.reviews--slider-item {
  text-align: center;
}
.reviews--slider-image {
  width: 70px;
  height: 70px;
  border: 2px solid #6a99e9;
  border-radius: 50%;
  display: block;
  margin: 30px auto 20px;
}
.reviews--slider-text {
  font-size: 15px;
  font-style: italic;
  max-width: 370px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.reviews--slider-text:after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
.reviews--slider-name, .reviews--slider-city {
  font-size: 14px;
  display: block;
}

/* Блок factory */
.factory {
  padding-top: 0;
}
.factory--block {
  display: flex;
  justify-content: center;
}
.factory--block-image {
  flex-basis: 370px;
  margin-right: 70px;
}
.factory--block-image img {
  display: block;
}
.factory--block-text {
  flex-basis: 530px;
  font-size: 20px;
}
.factory--block-text p {
  margin-bottom: 45px;
}

@media (max-width: 771px) {
  .factory--block {
    flex-wrap: wrap;
  }
  .factory--block-image {
    flex-basis: 100%;
    margin: 0 0 30px;
  }
  .factory--block-image img {
    margin: auto;
  }
  .factory--block-text {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
