.factory {
    padding-top: 0;
    &--block {
        display: flex;
        justify-content: center;
        &-image {
            flex-basis: 370px;
            margin-right: 70px;
            img {
                display: block;
            }
        }
        &-text {
            flex-basis: 530px;
            font-size: 20px;
            p {
                margin-bottom: 45px;
            }
        }
    }
}

@media (max-width: 771px) {
    .factory {
        &--block {
            flex-wrap: wrap;
            &-image {
                flex-basis: 100%;
                margin: 0 0 30px;
                img {
                    margin: auto;
                }
            }
            &-text {
                flex-basis: 100%;
            }
        }
    }
}






















