.hero {
    background: #f1f1f1 url("../images/hero-bg.jpg") no-repeat center top 80px;
    background-size: contain;
    padding: 160px 0 270px;
    &--title {
        font-size: 30px;
        max-width: 265px;
        margin-bottom: 30px;
    }
    &--subtitle {
        @include bold;
        font-size: 30px;
        margin-bottom: 67px;
        display: block;
    }
}