.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--mobile,
    &--landline {
        text-align: right;
    }
    &--phone {
        font-size: 19px;
        @include bold;
        display: block;
        text-decoration: none;
        color: $text-color;
        margin-bottom: 5px;
    }
    &--small-text {
        font-size: 14px;
        color: $text-color-light;
        text-decoration: none;
        display: block;
    }
}

.menu {
    position: fixed;
    top: 80px;
    padding: 16px 0;
    width: 100%;
    background-color: $primary;
    transform: translateY(-200%);
    transition: .2s;
    opacity: 0;
    &-active {
        transform: translateY(0);
        opacity: 1;
    }
    &--nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &--link {
        text-decoration: none;
        font-size: 17px;
        text-transform: uppercase;
        color: #fff;
    }
    &-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-right: 1px solid rgba(#510bba, .1);
        border-left: 1px solid rgba(#510bba, .1);
        height: 80px;
        width: 70px;
        outline: none;
        cursor: pointer;
        &--line {
            width: 20px;
            height: 3px;
            background-color: #89a9eb;
            margin: 2px 0;
        }
    }
}

.logo {
    &--text {
        font-size: 18px;
        text-transform: uppercase;
        @include bold;
        display: block;
        margin-bottom: 5px;
    }
    &--description {
        display: block;
        font-size: 14px;
        color: $text-color-light;
    }
}

@media (max-width: 991px) {
    .navbar {
        &--mobile,
        &--landline {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .logo {
        display: none;
    }
    .menu {
        top: 60px;
        &-button {
            height: 60px;
        }
        &--nav {
            flex-direction: column;
        }
        &--link {
            margin-bottom: 20px;
        }
    }
}




























