.offer {
    padding: 129px 0;
    &-block {
        padding: 80px;
        margin-top: -235px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
        &-calc-bg {
            background: #fff url(../images/form-bg-calc.png) no-repeat right;
        }
        &-price-bg {
            background: #fff url(../images/form-bg-price.png) no-repeat right;
            margin-top: -280px;
        }
        &-calc-bg,
        &-price-bg {
            background-size: contain;
        }
    }
    &--title {
        font-size: 25px;
        text-transform: uppercase;
        @include bold;
        margin-bottom: 20px;
    }
    &--subtitle {
        display: block;
        font-size: 21px;
        margin-bottom: 48px;
        max-width: 820px;
    }
}

.form {
    &--row {
        display: flex;
        align-items: center;
        max-width: 900px;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--label {
        display: block;
        font-size: 17px;
        margin-bottom: 15px;
    }
    &--group {
        flex-basis: 33.33%;
        &-price {
            margin-right: 45px;
        }
        &-policy {
            flex-basis: 40%;
        }
    }
    &--input {
        width: 100%;
        border-right: none;
    }
    &--select {
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            background: url(../images/select-arrow.png) no-repeat;
            width: 20px;
            height: 10px;
            position: absolute;
            right: 19px;
            top: 50%;
            transform: translateY(-50%);
            transition: .2s;
        }
        &-open {
            &:after {
                transform: rotate(180deg) translateY(3px);
            }
        }
        &-checked {
            font-size: 15px;
            line-height: 80px;
        }
        &-dropdown {
            position: absolute;
            list-style: none;
            font-size: 15px;
            top: 79px;
            border: 1px solid #ddd;
            border-top: none;
            left: -1px;
            width: 100.4%;
            background-color: #fff;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: .2s;
            &-open {
                height: auto;
                opacity: 1;
            }
            li {
                padding: 20px 0 20px 30px;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                &:last-child {
                    border: none;
                }
                &:hover {
                    background-color: $bg-secondary;
                }
            }
        }
    }
    &--border {
        border-right: 1px solid #ddd;
    }
    &--button {
        height: 80px;
        width: 100%;
        &-price {
            font-size: 15px;
            padding: 25px 28px;
        }
    }
    &--policy {
        font-size: 17px;
    }
}

@media (max-width: 1199px) {
    .offer {
        &-block {
            background-position: center right -120px;
        }
    }
}

@media (max-width: 768px) {
    .offer {
        padding: 0 0 40px;
        &-block {
            background: none;
            background-color: #fff;
            padding: 40px;
            &-price-bg {
                margin-top: -170px;
            }
        }
        &--title {
            font-size: 18px;
        }
        &--subtitle {
            font-size: 16px;
        }
    }
    .form {
        &--row {
            flex-direction: column;
            &-checkbox {
                flex-direction: row;
                margin-bottom: 40px;
                flex-wrap: wrap;
            }
        }
        &--group {
            width: 100%;
            &-price {
                margin: 0 0 20px;
            }
        }
        &--input {
            border-right: 1px solid #ddd;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 576px) {
    .form {
        &--checkbox {
            margin-bottom: 20px;
        }
        &--row {
            margin-bottom: 0;
            &-checkbox {
                margin-bottom: 0;
            }
        }
    }
}

























