.price {
    &--block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-card {
            margin-bottom: 10px;
            position: relative;
            background-color: #fff;
        }
    }
    &--card {
        &-image {
            img {
                display: block;
            }
        }
        &-text {
            font-size: 15px;
            padding: 20px;
        }
        &-pricetag {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        &-cost {
            @include bold;
        }
        &-button {
            text-align: center;
            box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            padding: 15px;
            z-index: -1;
            background-color: #fff;
        }
        &:hover {
            .price--card-button {
                z-index: 1;
                bottom: -90px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .price {
        padding-top: 0;
        &--block {
            justify-content: center;
            &-card {
                margin: 20px;
            }
        }
    }
}























